:root {
    --primario: #9C27B0;
    --primarioOscuro: #891190;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    /* Es el interlineado*/

}

p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}

a {
    text-decoration: none;
    /* Es para quitarle a todos los enlaces el interlineado  */
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;

}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 1.2rem !important;
}


.icon {
    color: white;
}


.imagen-principal {
    height: 100%;
    width: 100%;

}

.container {
    display: grid;
    max-width: 120rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-top: 4rem;

}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.eureka {
    width: 500px;

    height: 500px;
}

.text-waterWatch {
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;



}

.back {
    background-color: #E0F0FD;
    padding: 3rem;

}

.logoww {

    width: 400px;
    height: 300px;

}

.tamaño {
    width: 400px;
    height: 300px;
}

.circulos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: center;
    padding-top: 2rem;


}

.adorno {
    background-color: rebeccapurple;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.blue-line {
    height: 40px;

}

.texto-cir {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.pad {
    padding-top: 2rem;
}

.imagen-paquete {

    height: 589px;

}

.hola {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    padding: .4rem;

}

.texto-footer {
    font-size: .9rem;
    display: grid;
    justify-content: end;
    align-items: center;
    align-content: center;
    padding-top: 1rem;

}

.chino {
    font-family: JejuGothic;
    color: white;
}

/* instalacion */

.container-instalacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 4.5rem;
}

body.fondo {
    /* background: linear-gradient(to right, white 60%, #050842 40%); */

    /* background: linear-gradient(to right, white 60%, #050842 40%); */

}

.form-instalacion {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.modal-backdrop {
    display: none;

}

.arduino {
    width: 50%;
    height: 50%;

}

.padding {
    padding-top: 10rem;
}

.img10 {
    display: grid;
    width: 600px;
    padding-top: 3rem;

}

.cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    /* padding-top: 2rem; */
}

@media (max-width: 768px) {
    .cont {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        /* padding-top: 2rem; */
    }

    .img10 {
        width: 85%;
        height: 85%;
    }

    .paddingtodo {
        padding: 5rem;
        /* margin: 0px; */
    }

    .logos {
        font-size: 10px;
    }

    .imagen-principal {
        height: 160px;
        width: 100%;

    }
}

.fondoAzul {
    padding: 0 !important;
    height: 900px !important;
    width: 100%;
}

/* login */
.register-container {
    display: flex;
    height: 100vh;
}

/* .image-side {
    flex: .5;
    background-image: url('/src/img/registrar.png');
    background-size: cover;
    background-position: center;
} */

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('src/img/fondoRegister.png');
    background-size: cover;
    background-position: center;

}

.register-content {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
}

.image-side img {
    display: none;
}

.form-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.register-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 490px;


}

.form-label {
    margin-bottom: 0.5rem;
    margin: 10px;
}

.form-control {
    margin-bottom: 1rem;


}

.d-grid {
    margin-top: 1rem;

}

.fondoRegister {

    margin: 0 auto;
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-registrar {
    width: 500px;
    height: 500px;
}

.background-shadow {
    position: relative;
    background-image: url('/src/img/fondo2.jpg');
    background-repeat: no-repeat;

    background-size: cover;
}